@font-face {
    font-family: 'AvenirNext';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
    src: url('../../assets/fonts/alt-fonts/AvenirNextLTPro.ttf') format('truetype');
}

@font-face {
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
    src: url('../../assets/fonts/alt-fonts/AvenirNextLTProBold.ttf') format('truetype');
    font-family: 'AvenirNext';
    font-weight: 600;
}

@font-face {
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
    src: url('../../assets/fonts/alt-fonts/AvenirNextLTProBold.ttf') format('truetype');
    font-family: 'AvenirNext';
    font-weight: 700;
}