@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.hero {

    &__container {
        @include tablet {
            padding: 0 36px; 
            background: black; 
        }

        @include desktop {
            padding: 0 200px; 
        }
    }

    &__video {
        width: 100%;
    }
}
