@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.Video_details {
    padding: 0 16px;

    @include tablet {
        padding: 0 36px;
    }

    @include desktop {
        padding: 0;
    }

    &-title {
        font-family: 'AvenirNext';
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        margin-top: 16px;

        @include tablet {
            font-size: 33px;
            line-height: 44px;
        }

        @include desktop {
            margin-top: 32px;
        }
    }

    &-metrics {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 0;
        padding: 16px 0;
        border-top: 1px solid $Mercury;
        border-bottom: 1px solid $Mercury;

        @include tablet {
            border-top: none;
            padding: 8px 0;
            margin: 8px 0 24px 0;
        }

        @include desktop {
            padding-right: 24px;
        }
    }

    &-row {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        @include tablet {
            flex-direction: row;
            align-items: center;
        }
    }

    &-author {
        margin-bottom: 16px;
        font-size: 12px;
        font-family: 'AvenirNext';
        font-weight: 700;

        @include tablet {
            margin: 0 32px 0 0;
        }

        @include desktop {
            font-size: 13px;
        }
    }

    &-date {
        font-family: 'AvenirNext';
        font-size: 12px;
        color: $Silver;
    }

    &-views {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        @include tablet {
            margin: 0 32px 0 0;
        }

        &-number {
            color: $Silver;
            padding-left: 8px;
            font-size: 12px;
            font-family: 'AvenirNext';
        }
    }

    &-likes {
        display: flex;
        align-items: center;

        &-number {
            color: $Silver;
            padding-left: 8px;
            font-size: 12px;
            font-family: 'AvenirNext';
        }
    }

    &-description {
        font-family: 'AvenirNext';
        line-height: 18px;
        font-size: 13px;
        margin-bottom: 16px;

        @include tablet {
            width: 98%; 
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 32px;
        }

        @include desktop {
            margin-bottom: 40px;
        }
    }
}