@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.Main__container {
    @include desktop {
        display: flex;
        padding: 0 120px;
    }

    &-left {
        @include desktop {
            width: 69%;
        }
        
    }

    &-right {
        @include desktop {
            width: 31%;
            border-left: 1px solid $Mercury;
        }
    }
}

