@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.Comments_form {
    padding: 0 1rem; 

    @include tablet {
        padding: 0 2.25rem; 
    }

    @include desktop {
        padding: 0;
    }

    &-title {
        font-family: 'AvenirNext';
        font-size: .8125rem;
        font-weight: 700;
        line-height: 1.125rem;
        color: $BrainFlix-DarkBlack;
    }

    &-avatar {
        @include avatar;
        float: left; 
        margin-top: 2.25rem;
        margin-right: 1rem;

        @include desktop {
            margin-left: .5rem;
            margin-right: 2rem;
        }
    }

    &-wrapper {
        @include tablet {
            position: relative;
        }

        @include desktop {
            margin: 0 .5rem;
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        @include tablet {
            margin-bottom: 1.5rem;
        }
    }

    &-label {
        font-family: 'AvenirNext';
        line-height: 1.25rem;
        font-size: .75rem;
        font-weight: 700;
        color: $Silver; 
    }

    &-textarea {
        font-family: 'AvenirNext';
        padding: .625rem;
        border-radius: .25rem;
        height: 4.375rem;
        background-color: $Alabaster;
        border: .0625rem solid $Mercury;
        resize: none;

        @include tablet {
            width: 68%; 
            height: 1.25rem;
        }
    }

    &-cta {
        position: relative;
        margin: 1rem 0;

        @include tablet {
            position: absolute;
            width: 23%;
            right: 0;
            top: .3125rem;
        }

        &-button {
            @include cta;
            
            @include desktop {
                width: 90%;
            }
        }

        &-icon {
            position: absolute;
            left: .75rem;
            top: .75rem;
            height: 1.25rem;

            @include desktop {
                left: .625rem; 
                top: .625rem;
            }
        }
    }
    

    
}