@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.menu {
    padding: 0 16px;
    font-family: 'AvenirNext';

    @include tablet {
        display: flex;
        padding: 0 36px;
        margin: 16px 0;
        align-items: center;
        justify-content: space-between;
    }

    @include desktop {
        padding: 0 120px; 
    }

    &__logo {
        display: block;
        margin: 16px auto;
        max-height: 25px;
        max-width: 120px;

        @include tablet {
            margin: 0;
        }
    }

    &__content {
        @include tablet {
            display: flex;
        }
    }

    &__container-search {
        position: relative;

        @include tablet {
            // margin-left: 12%;
        }

        @include desktop {
            // margin-left: 38%;
        }
    }

    &__search-bar {
        font-family: 'AvenirNext';
        height: 32px;
        width: 62vw;
        border-radius: 4px;
        padding-left: 36px;
        border: 1px solid $Mercury;
        background-color: $Alabaster;

        @include tablet {
            height: 36px;
            width: 26vw;
        }

        @include desktop {
            width: 16vw;
        }
    }

    &__magnifying-glass {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    &__avatar {
        @include avatar; 
        float: right;

        @include tablet {
            display: none;
        }
    }

    &__container-upload {
        position: relative;

        @include tablet {
            margin: 0 24px;
        }

        @include desktop {
            margin-left: 24px;
            margin-right: 40px;
        }
        
        &-icon {
            position: absolute;
            left: 8px;
            top: 24px;

            @include tablet {
                top: 10px;
                height: 20px;
            }

            @include desktop {
                height: 22px;
            }

        }

    }

    &__button {
        width: 100%;
        padding: 12px;
        margin: 16px 0;
        font-weight: 700;
        border: none;
        border-radius: 4px;
        background-color: $BrainFlix-Blue;
        color: $White;

        @include tablet {
            margin: 0; 
            width: 20vw;
        }

        @include desktop {
            width: 12vw; 
        }
    }

    &__avatar2 {
        border-radius: 50%;
        max-width: 40px;
        max-height: 40px;
        width: 40px;
        height: 40px;
        float: right;
        background-image: url("../../assets/images/Mohan-muruge.jpg");
        background-size: cover;
        display: none; 

        @include tablet {
            display: inline-block;
        }
    }
}