@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.Video-list {
    margin: 16px 0; 
    padding: 0 16px;

    @include tablet {
        margin: 24px 0;
        padding: 0 36px;
    }

    @include desktop {
        margin-top: 32px;
        padding-left: 24px;
    }

    &__title {
        font-family: 'AvenirNext';
        font-size: 13px;
        font-weight: 700;
        color: $Silver;
    }

    &__videos {
        margin: 16px 0;

        @include tablet {
            margin: 24px 0;
        }
    }

    &__link {
        text-decoration: none;

        &:visited {
            color: black;
        }
    }

    &__video {
        display: flex;
        margin: 8px 0;

        @include tablet {
            margin: 16px 0;
        }

        &-image {
            width: 100px;
            height: 65px;
            border-radius: 4px;
            image-rendering: pixelated;
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 16px;
            height: 60px;

            @include tablet {
                max-width: 160px; 
            }

            &-title {
                font-family: 'AvenirNext';
                font-size: 12px;
                font-weight: 700;
                line-height: 18px;
            }

            &-channel {
                font-family: 'AvenirNext';
                font-size: 12px;
            }
        }
    }
}