@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.Video-list {
    margin: 1rem 0; 
    padding: 0 1rem;

    @include tablet {
        margin: 1.5rem 0;
        padding: 0 2.25rem;
    }

    @include desktop {
        margin-top: 2rem;
        padding-left: 1.5rem;
    }

    &__title {
        font-family: 'AvenirNext';
        font-size: .8125rem;
        font-weight: 700;
        color: $Silver;
    }

    &__videos {
        margin: 1rem 0;

        @include tablet {
            margin: 1.5rem 0;
        }
    }

    &__link {
        text-decoration: none;
        cursor: pointer;

        &:visited {
            color: black;
        }
    }

    &__video {
        display: flex;
        margin: .5rem 0;

        @include tablet {
            margin: 1rem 0;
        }

        &-image {
            width: 6.25rem;
            height: 4.0625rem;
            border-radius: .25rem;
            image-rendering: pixelated;
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 1rem;
            height: 3.75rem;

            @include tablet {
                max-width: 10rem; 
            }

            &-title {
                font-family: 'AvenirNext';
                font-size: .75rem;
                font-weight: 700;
                line-height: 1.125rem;
            }

            &-channel {
                font-family: 'AvenirNext';
                font-size: .75rem;
            }
        }
    }
}